{% extends 'AppSpec/home.html' %}
{% block encabezado %}
<nav>
    <form action="{% url 'logout' %}" method="post" class="d-flex">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btnCS">Cerrar Sesión</button>
    </form>

    <form action="{% url 'personas' %}" method="GET" class="d-flex">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btnV">Volver</button>
    </form>
</nav>
{% endblock encabezado %}
{% block Menu %}
{% endblock Menu %}

{% block titulo %}
    <h1> Personas</h1>
{% endblock titulo %}   

{% block contenido %}
    <section class="py-5 ">
        <form action="" method="post" class="persona-form" >
            {% csrf_token %}

            <table>
                {{ form.as_table }}
            </table>
            <br>
            
            <input class="btnV" type="submit" value="Agregar">
        </form>
    </section>
{% endblock contenido %}
