<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultado de Importación</title>
</head>
<body>
    <h1>Resultado de Importación</h1>
    <table>
        <thead>
            <tr>
                <th>Área</th>
                <th>Nombre de Persona</th>
                <th>Número de Tarjeta</th>
                <th>Primera Marcación</th>
                <th>Última Marcación</th>
                <th>Horas Totales</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos_con_personas %}
            <tr>
                <td>{{ dato.area }}</td>
                <td>{{ dato.nombre_persona }}</td>
                <td>{{ dato.num_tarjeta }}</td>
                <td>{{ dato.primera_marcacion }}</td>
                <td>{{ dato.ultima_marcacion }}</td>
                <td>{{ dato.total_horas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> -->